{% extends 'padre.html' %}


{% block bloqueQueCambia %}
  <h1>Pantalla de inicio</h1>
  
  <p>Bienvenidos a la pagina oficial del taller mecanico de vehiculos de calle</p>

  <h2>Experiencia en reparación de automotores</h2>
Contamos con experiencia, personal especializado y las herramientas necesarias para brindar un servicio profesional y 
altamente competitivo. Creamos procesos para brindar la solución exacta y definitiva con garantía. Brindamos un servicio 
transparente, sin sorpresas y sin costos ocultos. Nuestro trabajo es igual o mejor que el del concesionario oficial y a menor costo. 
Hacemos mecánica integral del autómovil para todas las marcas, diagnóstico computarizado y diagnóstico Pre VTV en Saavedra, C.A.B.A.
<br>
  <h4>{{mensaje}}</h4>
  
    
{% endblock bloqueQueCambia  %}
    