{% extends 'padre.html' %}


{% block bloqueQueCambia %}
   <h1>Bienvenidos a la seccion de clientes </h1>
   <p>Aqui encontraras un listado de opciones para tus clientes</p>
   <ul>
<a href="{% url 'clienteFormulario' %}">Cargar cliente</a>
<br>
<a href="{% url 'clientelist' %}">Ver lista de clientes y sus vehiculos</a>
<br>
<a href="{% url 'EditaEliminaCliente' %}">Editar clientes</a>
<br>
<a href="{% url 'BusquedaCliente' %}">Buscar clientes</a>

        


</ul>


    
{% endblock bloqueQueCambia  %}
    



